<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/editar.css" />
    <title>Editar</title>
  </head>
  <header class="voltar">
    <a href="/detalhes/<%= musica.id %> "> <img src="/img/seta.png" alt=""></a>
  </header>
  <header>
    <h1> EDITAR MÚSICA </h1>
    <BR></BR>
  </header>
  <body>
    <main class="forms">
      <form action="/editar/<%= musica.id %>" method="post">
        <input type="text" name="nome" placeholder="Nome da música" value="<%= musica.nome %>" />
        <input type="url" name="img" placeholder="Link da Imagem (LastFM)" value="<%= musica.img %>" />
        <input
          type="number"
          name="ano"
          placeholder="Ano de lançamento da música"
          value="<%= musica.ano %>"
        />
        <input type="text" name="album" placeholder="Nome do Albúm" value="<%= musica.album %>" />
        <input type="text" name="artista" placeholder=" Artista " value="<%= musica.artista %>"/>
        <input class="iframe-case"
          type="text"
          name="iframe"
          placeholder="iFrame do Youtube (Sem as aspas)"
          value="<%= musica.iframe %>"
        />

        <button type="submit">Aplicar!</button>
      </form>
    </main>
  </body>
</html>
